@import 'globals';

.finishedScreen {
}

.congratulations {
  @extend .horizontallyCentered;
  color: $text-grey;
}

.finalScoreSection {
  @extend .horizontallyCentered;
  margin: 40px 0px;
  color: $text-grey;
}

.finalScoreBubble {
  @extend .horizontallyCentered;
  align-items: center;
  width: 76px;
  height: 76px;
  border-radius: 38px;
  font-size: 25px;
}

.goodScoreBubble {
  @extend .finalScoreBubble;
  background-color: $soft-green;
  border: 1px solid $dark-green;
}

.badScoreBubble {
  @extend .finalScoreBubble;
  background-color: $soft-error;
  border: 1px solid $dark-error;
}

.playAgainButton {
  @extend .horizontallyCentered;
  margin: 25px 0px 50px 0px;
}
