@import 'globals';

@import url(https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Open+Sans:wght@300;400;800&display=swap);

.gameScreen {
}

.entryBox {
  width: 220px;
  height: 30px;
  line-height: 30px;
  border: 1px solid $soft-grey;
  border-radius: 2px;
  padding: 5px;
}

.board {
  margin: 0px 20px 20px 20px;
}

.horizontalSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tileRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.clickableTile,
.disabledTile {
  @extend .horizontallyCentered;
  width: 30px;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Didact Gothic', sans-serif;
}

.clickedTile {
  background-color: $soft-green;
}

.clickableTile.nonhoveredTile {
  background-color: white;
}

.clickableTile.hoveredTile {
  background-color: $soft-grey;
  cursor: pointer;
}

.timer {
  @extend .horizontallyCentered;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
}

.boardButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px;
}
