$soft-green: #d5e8d4;
$dark-green: #82b366;
$soft-grey: #cdcdcd;
$text-grey: #43464b;
$dark-error: #a63232;
$soft-error: #ff9494;

.horizontallyCentered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
